{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Reads</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/static/css/main.css'>
</head>
<body>
    <header>
        {{template "nav" .}}
    </header>
    <main>
        {{template "main" .}}
    </main>
    <footer>
        {{template "footer" .}}
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/js/foundation.min.js" crossorigin="anonymous"></script>
</body>
</html>
{{end}}