body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    align-items: center;
    min-height: 50px;
    text-align: center;
}